<header>
    <title>Html to Pdf</title>
</header>
<body>
    <h1 align='center'>Html to PDF form</h1>


    <form action="pdf.php" method="post">
        <h3>
            <label>Denumire Firma :</label>
            <input type="text" name="company_name"/>
        </h3>
        <h3>
            <label>Adresa sediului social:</label>
            <input type="text" name="localitatea">
        </h3>
        <h3>
            <label>Numarul de ordine la Registrul Comertului:</label>
            <input type="text" name="nrcomert">
        </h3>
        <h3>
            <label>Codul fiscal:</label>
            <input type="text" name="codfiscal">
        </h3>
        <h3>
            <label>Nume reprezentant:</label>
            <input type="text" name="reprezentant">
        </h3>
        <h3>
            <label>Functie in companie:</label>
            <input type="text" name="functie">
        </h3>
        <h3>
            <label>Suma cu care vreti sa ajutati:</label>
            <input type="text" name="suma">
        </h3>
        <button type="submit" action="submit" value="Register" name="submit">Submit</button>
    </form>




</body>