.container-fluid {
  margin: 0;
  padding: 0; }

.navbar-brand img {
  height: 50px;
  width: 150px; }

.navbar {
  border-bottom: none;
  height: 80px;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.7); }
  .navbar ul {
    margin-top: 17px; }
    .navbar ul li {
      font-family: "Roboto Slab";
      font-size: 1.78rem;
      transition: 0.5s all ease-in-out; }
      .navbar ul li:hover {
        border-bottom: 1px solid white; }

.navbar-inverse .navbar-nav > li > a {
  color: white; }

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 1px solid #d91b5c; }

.big {
  transition: 0.3s all ease-in-out;
  background-color: #d91b5c; }

.index-header {
  height: 350px; }
  .index-header .background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 500px;
    width: 100%;
    background-image: url(../images/header.PNG);
    background-size: cover;
    background-position: top;
    background-attachment: fixed; }
  .index-header .header-content {
    margin: 150px 200px 0px 200px;
    color: white; }
    .index-header .header-content h1 {
      font-size: 4rem;
      font-family: "Roboto Slab"; }
    .index-header .header-content h3 {
      font-family: "Roboto Slab";
      font-size: 1.7rem; }
    .index-header .header-content .btn-primary {
      transition: 0.3s all ease-in-out;
      background-color: rgba(217, 27, 92, 0.7);
      border: none;
      border-radius: 0;
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 2rem;
      padding: 10px 20px; }
      .index-header .header-content .btn-primary:hover {
        background-color: #d91b5c; }
    .index-header .header-content a {
      color: white; }
    .index-header .header-content .fa-facebook {
      transition: 0.3s all ease-in-out;
      margin-top: 40px;
      font-size: 5rem; }
      .index-header .header-content .fa-facebook:hover {
        color: #d91b5c; }

.index-learning h1 {
  font-family: "Roboto Slab";
  margin-top: 70px; }

.index-learning i {
  transition: 0.3s all ease-in-out;
  margin-top: 70px;
  font-size: 4.3rem;
  color: #d91b5c;
  border: 2px dashed #d91b5c;
  padding: 15px; }
  .index-learning i:hover {
    background-color: #d91b5c;
    color: white; }

.index-learning hr {
  margin-left: 30px;
  margin-right: 30px;
  border-top: 1px solid #d91b5c; }

.index-projects {
  margin-top: 60px;
  background-color: rgba(0, 0, 0, 0.7);
  height: 500px; }
  .index-projects h1 {
    margin-top: 50px;
    color: white;
    font-family: "Roboto Slab"; }
  .index-projects img {
    height: 260px;
    width: 350px;
    box-shadow: 0px 5px 5px black;
    margin-top: 40px; }

.index-signup {
  height: 300px;
  background-image: url(../images/header.PNG);
  background-size: cover;
  background-position: top;
  background-attachment: fixed; }
  .index-signup .btn-primary {
    transition: 0.3s all ease-in-out;
    margin-top: 130px;
    background-color: transparent;
    font-size: 2.3rem;
    font-family: "Roboto Slab";
    letter-spacing: 1px;
    border-radius: 0;
    border: 2px solid #d91b5c; }
    .index-signup .btn-primary:hover {
      background-color: #d91b5c; }

.partners {
  height: 200px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .partners h1 {
    font-family: "Roboto Slab";
    margin-top: 20px; }
  .partners .resized {
    transition: 0.3s all ease-in-out;
    margin-top: 20px;
    height: 100px;
    width: 100px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
    .partners .resized:hover {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%); }

.footer {
  height: 60px;
  background-color: black;
  border-top: 0px;
  color: white; }

.footer-details {
  padding-top: 50px;
  color: white;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.8); }
  .footer-details img {
    height: 100px;
    width: 300px; }
  .footer-details a {
    color: white; }
    .footer-details a:hover {
      transition: 0.3s all ease-in-out;
      color: #d91b5c; }
  .footer-details .fa-facebook {
    font-size: 4rem; }

.about-header {
  height: 150px;
  color: white; }
  .about-header .background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 300px;
    width: 100%;
    background-image: url(../images/header.PNG);
    background-size: cover;
    background-position: top; }
  .about-header .header-text {
    margin-top: 150px; }

.about-text {
  height: 330px;
  margin: 0px 60px; }
  .about-text h1 {
    font-family: "Roboto Slab";
    margin-top: 170px; }

.about-members {
  height: 200px;
  background-image: url(../images/header.PNG);
  background-size: cover;
  background-attachment: fixed; }
  .about-members .btn {
    transition: 0.3s all ease-in-out;
    padding: 15px 20px;
    border-radius: 0;
    border: none;
    margin-top: 70px;
    background-color: rgba(217, 27, 92, 0.7);
    font-size: 2.3rem;
    font-family: "Roboto Slab"; }
    .about-members .btn:hover {
      background-color: #d91b5c; }

.contact-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 300px;
  background-image: url(../images/header.PNG);
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom; }
  .contact-header .header-text h1 {
    color: white;
    margin-top: 150px; }

.contact-form {
  position: relative;
  height: 300px;
  margin-top: -100px; }
  .contact-form .btn-primary {
    background-color: #d91b5c;
    border-radius: 0;
    border: none;
    width: 100%; }

.contact-info {
  margin-top: 400px;
  font-size: 3rem;
  line-height: 50px;
  height: 200px; }

.map {
  margin-top: 50px;
  width: 100vw; }
